body {
  background-color: #F5F6F7;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul {
  list-style-type: none;
  padding: 0;
}

.BaseContainer {
  margin: auto;
  max-width: 740px;
  padding: 32px;
}

@media(min-width: 740px){
  .BaseContainer {
    max-width: 100%;
  }
}

div:focus{
  outline: none;
}

div.ModalBase {
  left: calc(100% / 2 - 360px);
  right: calc(100% / 2 - 360px);
  max-width: 740px;
  padding: 32px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
}

@media(max-width: 740px){
  div.ModalBase{
    left: 0;
    right: 0;
  }
}

.Clickable {
  cursor: pointer;
}

.OpportunityCard {
  transition: 100ms linear;
  height: 200px;
}

.OpportunityCard:hover {
  transform: scale(1.04);
}

.AuthenticationForm > * {
  margin-bottom: 10px;
}
